.section-04 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  .section-header {

    .title {
      color: #ad7835;
      font-size: 3.75rem;
      font-family: 'Droid Serif';
      line-height: 1.2;
    }
    .line {
      background-color: #ad7835;
      width: 6.25rem;
      height: 0.125rem;
      margin-left: 0.5rem;
    }
  }
  .section-content {
    padding-top: 6rem;

    
  }
}
