.section-01 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-content {
    text-align: center;
    border: 0.5rem solid #ad7835;
    padding: 6.25rem 9rem;

    .welcome {
      color: #ffffff;
      font-size: 1.5rem;
      font-family: 'Raleway';
      font-weight: 700;
      text-transform: uppercase;
    }
    .line {
      background-color: #ffffff;
      width: 6.25rem;
      height: 0.125rem;
      margin-top: 0.75rem;
      margin-left: auto;
      margin-right: auto;
    }
    .title {
      color: #ffffff;
      font-size: 11.5rem;
      font-family: 'Droid Serif';
      line-height: 1.2;
    }
    .subtitle {
      color: #ac752f;
      font-size: 1.5rem;
      font-family: 'Raleway';
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
