body {
  background-image: url('~assets/images/bim.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding-top: 5rem;
  padding-bottom: 10rem;

  a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    img {
      width: 5rem;
    }
  }
}
